<li>
  <% if (locals.user && locals.user.id == post.user.id) { %>
  <a href="/posts/delete/<%= post.id %>">X</a> &emsp; <% } %> <%= post.contents
  %>
  <br />
  <small><%= post.user.name %> </small>
  <% for(let comment of post.comments){ %> <%- include('_comment', {comment:
  comment}) -%> <% } %> <% if (locals.user) { %>
  <form action="/comments/create" method="POST" id="add-comment">
    <input type="text" placeholder="Enter comment.." name="content" />
    <input type="hidden" name="post_id" value="<%= post._id %>" />
    <button type="submit">Comment</button>
  </form>
  <% } %>
</li>
