<link rel="stylesheet" href="/css/home.css" />
<h1>Codial</h1>
<section>
  <h4>Posts</h4>
  <form action="/posts/create" method="POST" id="post-form">
    <textarea
      name="content"
      id="content"
      cols="30"
      rows="3"
      required
      placeholder="type here..."
    ></textarea>
    <button type="submit">Post</button>
  </form>
  <% if(locals.posts){ %>
  <div id="post-list">
    <ul>
      <% for(let post of locals.posts){ %>
      <li>
        <%= post.contents %>
        <br />
        <small><%= post.user.name %> </small>
        <% for(let comment of post.comments){ %>
        <p class="comment-text"><%= comment.content %></p>
        <small>by <%= comment.user.name %> </small>
        <% } %>
        <form action="/comments/create" method="POST" id="add-comment">
          <input type="text" placeholder="Enter comment.." name="content" />
          <input type="hidden" name="post_id" value="<%= post._id %>" />
          <button type="submit">Comment</button>
        </form>
      </li>

      <% } %>
    </ul>
  </div>
  <% } %>
</section>
